# Introduction to PyPSA

**Python for Power System Analysis (PyPSA)**

PyPSA is a python package that supports energy and electricity system modeling. The PyPSA package provides a framework for simulating and optimizing energy and electricity systems. PyPSA provides users structured components for which they can store the data which populates an optimization model.

## Learning Objectives

By the end of this session, you will:
1. Understand what PyPSA is and its core capabilities
2. Learn the basic components of a power system model in PyPSA
3. Build your first simple power system network
4. Run an economic dispatch model
5. Visualize network topology and results

In [1]:
# Import necessary libraries
import pypsa
import os
import matplotlib.pyplot as plt
import logging

from helpers import (
    plot_generator_marginal_costs,
    plot_energy_balance,
    plot_capacity_comparison
)

logger = logging.getLogger("gurobipy")
logger.propagate = False

pypsa.__version__

'0.35.2'

## Single node economic dispatch visual example

$$
\min_{p_1, p_2}  {3} p_{1} + 6p_{2}
$$

$$
\text{st:                     } \quad \quad \quad
$$

$$p_{1} \le 4 $$
$$p_{2} \le 6 $$ 
$$p_{1} + p_{2} = 8 $$
$$p_{1}, p_{2} \ge 0 $$

In [2]:
# Sequential solution reveal for the economic dispatch plot (ADVANCE BY BUTTON OR "ENTER")
import ipywidgets as widgets
from IPython.display import clear_output, display
import matplotlib.pyplot as plt
import numpy as np
## add contour plot of objective function 
def sequential_reveal_economic_dispatch_interactive():
    steps = []

    # Step 0 setup (constructor pattern: each step gets a *fresh* fig,ax)
    def step1():
        fig, ax = plt.subplots(figsize=(6,6))
        p1 = np.linspace(0, 6, 300)
        p2 = np.linspace(0, 8, 300)
        x_line = np.linspace(0, 8, 100)
        p1_feas = np.linspace(2, 4, 100)
        p2_feas = 8 - p1_feas

        ax.set_xlim(0, 6)
        ax.set_ylim(0, 8)
        ax.set_xlabel("$p_1$")
        ax.set_ylabel("$p_2$")
        ax.set_title("Single Node Economic Dispatch Feasible Region")
        plt.show()
    steps.append(step1)

    def step2():
        fig, ax = plt.subplots(figsize=(6,6))
        p1 = np.linspace(0, 6, 300)
        p2 = np.linspace(0, 8, 300)
        x_line = np.linspace(0, 8, 100)
        p1_feas = np.linspace(2, 4, 100)
        p2_feas = 8 - p1_feas

        ax.set_xlim(0, 6)
        ax.set_ylim(0, 8)
        ax.set_xlabel("$p_1$")
        ax.set_ylabel("$p_2$")
        ax.set_title("Single Node Economic Dispatch Feasible Region")
        patch1 = ax.fill_betweenx(p2, 4, 6, color='gray', alpha=0.3, label='p1 ≤ 4')
        ax.legend(handles=[ patch1], loc="upper right")
        plt.show()
    steps.append(step2)

    def step3():
        fig, ax = plt.subplots(figsize=(6,6))
        p1 = np.linspace(0, 6, 300)
        p2 = np.linspace(0, 8, 300)
        x_line = np.linspace(0, 8, 100)
        p1_feas = np.linspace(2, 4, 100)
        p2_feas = 8 - p1_feas

        ax.set_xlim(0, 6)
        ax.set_ylim(0, 8)
        ax.set_xlabel("$p_1$")
        ax.set_ylabel("$p_2$")
        ax.set_title("Single Node Economic Dispatch Feasible Region")
        # line_feas, = ax.plot(p1_feas, p2_feas, color="green", linestyle='--', linewidth=2, label='Feasible boundary')
        patch1 = ax.fill_betweenx(p2, 4, 6, color='gray', alpha=0.3, label='p1 ≤ 4')
        patch2 = ax.fill_between(p1, 6, 8, color='gray', alpha=0.3, label='p2 ≤ 6')
        ax.legend(handles=[ patch1, patch2], loc="upper right")
        plt.show()
    steps.append(step3)

    def step4():
        fig, ax = plt.subplots(figsize=(6,6))
        p1 = np.linspace(0, 6, 300)
        p2 = np.linspace(0, 8, 300)
        x_line = np.linspace(0, 8, 100)
        p1_feas = np.linspace(2, 4, 100)
        p2_feas = 8 - p1_feas

        ax.set_xlim(0, 6)
        ax.set_ylim(0, 8)
        ax.set_xlabel("$p_1$")
        ax.set_ylabel("$p_2$")
        ax.set_title("Single Node Economic Dispatch Feasible Region")
        line_feas, = ax.plot(p1_feas, p2_feas, color="green", linestyle='--', linewidth=2, label='Feasible boundary')
        patch1 = ax.fill_betweenx(p2, 4, 6, color='gray', alpha=0.3, label='p1 ≤ 4')
        patch2 = ax.fill_between(p1, 6, 8, color='gray', alpha=0.3, label='p2 ≤ 6')
        vline = ax.axvline(4, color="k", linestyle="--", lw=1)
        hline = ax.axhline(6, color="k", linestyle="--", lw=1)
        consline, = ax.plot(x_line, 8-x_line, color="k", linestyle="--", lw=1)
        ax.legend(handles=[line_feas, patch1, patch2], loc="upper right")
        plt.show()
    steps.append(step4)

    def step5():
        fig, ax = plt.subplots(figsize=(6,6))
        p1 = np.linspace(0, 6, 300)
        p2 = np.linspace(0, 8, 300)
        x_line = np.linspace(0, 8, 100)
        p1_feas = np.linspace(2, 4, 100)
        p2_feas = 8 - p1_feas

        ax.set_xlim(0, 6)
        ax.set_ylim(0, 8)
        ax.set_xlabel("$p_1$")
        ax.set_ylabel("$p_2$")
        ax.set_title("Single Node Economic Dispatch Feasible Region")
        line_feas, = ax.plot(p1_feas, p2_feas, color="green", linestyle='--', linewidth=2, label='Feasible boundary')
        patch1 = ax.fill_betweenx(p2, 4, 6, color='gray', alpha=0.3, label='p1 ≤ 4')
        patch2 = ax.fill_between(p1, 6, 8, color='gray', alpha=0.3, label='p2 ≤ 6')
        vline = ax.axvline(4, color="k", linestyle="--", lw=1)
        hline = ax.axhline(6, color="k", linestyle="--", lw=1)
        consline, = ax.plot(x_line, 8-x_line, color="k", linestyle="--", lw=1)
        optpoint, = ax.plot(4, 4, 'ro', label="Optimum (4, 4)")
        ax.legend(handles=[line_feas, patch1, patch2, optpoint], loc="upper right")
        plt.show()
    steps.append(step5)

    stepper = widgets.IntSlider(min=1, max=len(steps), step=1, value=1, description="Step", continuous_update=False)
    out = widgets.Output()

    def show_step(change):
        with out:
            clear_output(wait=True)
            steps[stepper.value - 1]()

    stepper.observe(show_step, names="value")

    display(widgets.HTML(""))
    display(stepper)
    display(out)
    show_step(None)  # show first step

sequential_reveal_economic_dispatch_interactive()

HTML(value='')

IntSlider(value=1, continuous_update=False, description='Step', max=5, min=1)

Output()

## PyPSA Implementation

In [ ]:
network = pypsa.Network()
network

Empty PyPSA Network 'Unnamed Network'
-------------------------------
Components: none
Snapshots: 1

In [ ]:
network.add("Carrier", "cheaper_resource", co2_emissions=2, color="green")
network.add("Carrier", "expensive_resource", co2_emissions=10, color="blue")

Index(['expensive_resource'], dtype='object')

In [ ]:
network.add("Bus", "bus1")
network.add("Generator", "gen1", bus="bus1", carrier="cheaper_resource", p_nom=4, p_max_pu=1, marginal_cost=3)
network.add("Generator", "gen2", bus="bus1", carrier="expensive_resource", p_nom=6, p_max_pu=1, marginal_cost=6)

Index(['gen2'], dtype='object')

In [ ]:
network.add("Load", "load1", bus="bus1", p_set=8)

Index(['load1'], dtype='object')

In [ ]:
network.optimize(solver_name="gurobi")

WARNING:pypsa.consistency:The following buses have carriers which are not defined:
Index(['bus1'], dtype='object', name='Bus')
INFO:linopy.model: Solve problem using Gurobi solver
INFO:linopy.io: Writing time: 0.02s

Set parameter Username
Academic license - for non-commercial use only - expires 2026-01-01
Read LP format model from file /private/var/folders/00/vqry7y9s78q3rvf_m_jmk_bc0000gn/T/linopy-problem-66c15j7m.lp
Reading time = 0.00 seconds
obj: 5 rows, 2 columns, 6 nonzeros
Gurobi Optimizer version 12.0.3 build v12.0.3rc0 (mac64[x86] - Darwin 24.6.0 24G90)

CPU model: Intel(R) Core(TM) i7-1068NG7 CPU @ 2.30GHz
Thread count: 4 physical cores, 8 logical processors, using up to 8 threads

Optimize a model with 5 rows, 2 columns and 6 nonzeros
Model fingerprint: 0xae0290e6
Coefficient statistics:
  Matrix range     [1e+00, 1e+00]
  Objective range  [3e+00, 6e+00]
  Bounds range     [0e+00, 0e+00]
  RHS range        [4e+00, 8e+00]
Presolve removed 5 rows and 2 columns
Presolve time: 0.01s
Presolve: All rows and columns removed
Iteration    Objective       Primal Inf.    Dual Inf.      Time
       0    3.6000000e+01   0.000000e+00   0.000000e+00      0s

Solved in 0 iterations and 0.02 seconds (0.00 work units)
Optimal objective  3.600000000e+01

INFO:linopy.constants: Optimization successful:
Status: ok
Termination condition: optimal
Solution: 2 primals, 5 duals
Objective: 3.60e+01
Solver model: available
Solver message: 2

INFO:pypsa.optimization.optimize:The shadow-prices of the constraints Generator-fix-p-lower, Generator-fix-p-upper were not assigned to the network.

('ok', 'optimal')

In [ ]:
# We get the same results!
network.generators_t.p

Generator  gen1  gen2
snapshot
now         4.0   4.0

In [ ]:
# Total System Cost
network.objective

36.0

In [ ]:
network.statistics()

                              Optimal Capacity  Installed Capacity  Supply  \
Generator cheaper_resource                 4.0                 4.0     4.0
          expensive_resource               6.0                 6.0     4.0
Load      -                                0.0                 0.0     0.0

                              Withdrawal  Energy Balance Transmission  \
Generator cheaper_resource           0.0             4.0          0.0
          expensive_resource         0.0             4.0          0.0
Load      -                          8.0            -8.0          0.0

                              Capacity Factor  Curtailment  \
Generator cheaper_resource           1.000000          0.0
          expensive_resource         0.666667          2.0
Load      -                               NaN          0.0

                              Capital Expenditure  Operational Expenditure  \
Generator cheaper_resource                    0.0                     12.0
          expensive_resource                  0.0                     24.0
Load      -                                   0.0                      0.0

                              Revenue  Market Value
Generator cheaper_resource       24.0           6.0
          expensive_resource     24.0           6.0
Load      -                     -48.0           NaN

## PyPSA Network Components

Lets start with an example network. This is a pypsa-usa network created for ERCOT with:
- demand data for the year 2030 from the NREL EFS
- 7 buses nodes
- 380 resource regions
- 72 transmission links

In [12]:
network = pypsa.examples.ac_dc_meshed()

INFO:pypsa.network.io:Retrieving network data from https://github.com/PyPSA/PyPSA/raw/v0.35.2/examples/networks/ac-dc-meshed/ac-dc-meshed.nc.
WARNING:pypsa.network.io:Importing network from PyPSA version v0.0.0 while current version is v0.35.2. Read the release notes at https://pypsa.readthedocs.io/en/latest/release_notes.html to prepare your network for import.
INFO:pypsa.network.io:New version 1.0.3 available! (Current: 0.35.2)
INFO:pypsa.network.io:Imported network 'AC-DC-Meshed' has buses, carriers, generators, global_constraints, lines, links, loads

In [13]:
network.buses

,v_nom,type,x,y,carrier,unit,location,v_mag_pu_set,v_mag_pu_min,v_mag_pu_max,control,generator,sub_network,country
Bus,,,,,,,,,,,,,,
London,380.0,,-0.13,51.50,AC,,,1.0,0.0,inf,PQ,,,UK
Norwich,380.0,,1.30,52.60,AC,,,1.0,0.0,inf,PQ,,,UK
Norwich DC,200.0,,1.30,52.50,DC,,,1.0,0.0,inf,PQ,,,UK
Manchester,380.0,,-2.20,53.47,AC,,,1.0,0.0,inf,PQ,,,UK
Bremen,380.0,,8.80,53.08,AC,,,1.0,0.0,inf,PQ,,,DE
Bremen DC,200.0,,8.80,52.98,DC,,,1.0,0.0,inf,PQ,,,DE
Frankfurt,380.0,,8.70,50.12,AC,,,1.0,0.0,inf,PQ,,,DE
Norway,380.0,,10.75,60.00,AC,,,1.0,0.0,inf,PQ,,,NO
Norway DC,200.0,,10.75,60.00,DC,,,1.0,0.0,inf,PQ,,,NO

In [14]:
print(set(network.generators.carrier))
network.generators

{'gas', 'wind'}

,bus,control,type,p_nom,p_nom_mod,p_nom_extendable,p_nom_min,p_nom_max,p_min_pu,p_max_pu,...,min_up_time,min_down_time,up_time_before,down_time_before,ramp_limit_up,ramp_limit_down,ramp_limit_start_up,ramp_limit_shut_down,weight,p_nom_opt
Generator,,,,,,,,,,,,,,,,,,,,,
Manchester Wind,Manchester,PQ,,80.0,0.0,True,100.0,inf,0.0,1.0,...,0,0,1,0,NaN,NaN,1.0,1.0,1.0,0.0
Manchester Gas,Manchester,PQ,,50000.0,0.0,True,0.0,inf,0.0,1.0,...,0,0,1,0,NaN,NaN,1.0,1.0,1.0,0.0
Norway Wind,Norway,PQ,,100.0,0.0,True,100.0,inf,0.0,1.0,...,0,0,1,0,NaN,NaN,1.0,1.0,1.0,0.0
Norway Gas,Norway,PQ,,20000.0,0.0,True,0.0,inf,0.0,1.0,...,0,0,1,0,NaN,NaN,1.0,1.0,1.0,0.0
Frankfurt Wind,Frankfurt,PQ,,110.0,0.0,True,100.0,inf,0.0,1.0,...,0,0,1,0,NaN,NaN,1.0,1.0,1.0,0.0
Frankfurt Gas,Frankfurt,PQ,,80000.0,0.0,True,0.0,inf,0.0,1.0,...,0,0,1,0,NaN,NaN,1.0,1.0,1.0,0.0

In [15]:
network.links

,bus0,bus1,type,carrier,efficiency,active,build_year,lifetime,p_nom,p_nom_mod,...,shut_down_cost,min_up_time,min_down_time,up_time_before,down_time_before,ramp_limit_up,ramp_limit_down,ramp_limit_start_up,ramp_limit_shut_down,p_nom_opt
Link,,,,,,,,,,,,,,,,,,,,,
Norwich Converter,Norwich,Norwich DC,,DC,1.0,True,0,inf,1000.0,0.0,...,0.0,0,0,1,0,NaN,NaN,1.0,1.0,0.0
Norway Converter,Norway,Norway DC,,DC,1.0,True,0,inf,1000.0,0.0,...,0.0,0,0,1,0,NaN,NaN,1.0,1.0,0.0
Bremen Converter,Bremen,Bremen DC,,DC,1.0,True,0,inf,1000.0,0.0,...,0.0,0,0,1,0,NaN,NaN,1.0,1.0,0.0
DC link,London,Bremen,,DC,1.0,True,0,inf,1000.0,0.0,...,0.0,0,0,1,0,NaN,NaN,1.0,1.0,0.0

In [16]:
network.lines

,bus0,bus1,type,x,r,g,b,s_nom,s_nom_mod,s_nom_extendable,...,v_ang_min,v_ang_max,sub_network,x_pu,r_pu,g_pu,b_pu,x_pu_eff,r_pu_eff,s_nom_opt
Line,,,,,,,,,,,,,,,,,,,,,
0,London,Manchester,,0.796878,0.000000,0.0,0.0,40000.0,0.0,True,...,-inf,inf,,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Manchester,Norwich,,0.391560,0.000000,0.0,0.0,40000.0,0.0,True,...,-inf,inf,,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Bremen DC,Norwich DC,,0.000000,0.212604,0.0,0.0,40000.0,0.0,True,...,-inf,inf,,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Norwich DC,Norway DC,,0.000000,0.486164,0.0,0.0,40000.0,0.0,True,...,-inf,inf,,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Norway DC,Bremen DC,,0.000000,0.428727,0.0,0.0,40000.0,0.0,True,...,-inf,inf,,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,Norwich,London,,0.238800,0.000000,0.0,0.0,40000.0,0.0,True,...,-inf,inf,,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,Bremen,Frankfurt,,0.400000,0.000000,0.0,0.0,40000.0,0.0,True,...,-inf,inf,,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [17]:
network.storage_units

Empty DataFrame
Columns: [bus, control, type, p_nom, p_nom_mod, p_nom_extendable, p_nom_min, p_nom_max, p_min_pu, p_max_pu, p_set, q_set, sign, carrier, spill_cost, marginal_cost, marginal_cost_quadratic, marginal_cost_storage, capital_cost, active, build_year, lifetime, state_of_charge_initial, state_of_charge_initial_per_period, state_of_charge_set, cyclic_state_of_charge, cyclic_state_of_charge_per_period, max_hours, efficiency_store, efficiency_dispatch, standing_loss, inflow, p_nom_opt]
Index: []

[0 rows x 33 columns]

In [18]:
network.stores

Empty DataFrame
Columns: [bus, type, carrier, e_nom, e_nom_mod, e_nom_extendable, e_nom_min, e_nom_max, e_min_pu, e_max_pu, e_initial, e_initial_per_period, e_cyclic, e_cyclic_per_period, p_set, q_set, sign, marginal_cost, marginal_cost_quadratic, marginal_cost_storage, capital_cost, standing_loss, active, build_year, lifetime, e_nom_opt]
Index: []

[0 rows x 26 columns]

In [19]:
network.loads

                   bus carrier type  p_set  q_set  sign  active
Load
London          London    load         0.0    0.0  -1.0    True
Frankfurt    Frankfurt    load         0.0    0.0  -1.0    True
Norway          Norway    load         0.0    0.0  -1.0    True
Norwich        Norwich    load         0.0    0.0  -1.0    True
Bremen          Bremen    load         0.0    0.0  -1.0    True
Manchester  Manchester    load         0.0    0.0  -1.0    True

But where is the load data?
The load data lives in the time-series component of loads, called loads_t

In [20]:
network.loads_t.p_set

Load,London,Norwich,Frankfurt,Bremen,Norway,Manchester
snapshot,,,,,,
2015-01-01 00:00:00,35.796244,415.462564,398.047847,640.086378,820.035836,857.551440
2015-01-01 01:00:00,976.824561,262.606146,432.436106,703.554334,854.834047,750.599624
2015-01-01 02:00:00,250.587312,418.476353,379.803928,440.836130,42.550744,156.564876
2015-01-01 03:00:00,130.753145,552.959539,868.361764,612.576306,647.548233,527.870822
2015-01-01 04:00:00,151.100169,218.159858,548.770755,803.436781,884.073873,83.897759
2015-01-01 05:00:00,931.857052,791.976266,828.665243,605.400687,509.062449,676.623319
2015-01-01 06:00:00,289.848287,531.870681,449.290752,641.090590,595.607965,731.137100
2015-01-01 07:00:00,864.343322,23.513467,699.163766,408.008541,291.642450,553.344889
2015-01-01 08:00:00,689.577264,970.059068,915.866780,912.247776,2.153493,298.338082
2015-01-01 09:00:00,627.878986,0.924834,414.887646,898.053092,760.740177,768.290586

Similarly, we have time-series data from generators in the generators_t dictionary. Within the generators_t dictionary there are multiple dataframes with different types of data!

In [21]:
print("Time-series data keys:", network.generators_t.keys())

Time-series data keys: dict_keys(['p_min_pu', 'p_max_pu', 'p_set', 'q_set', 'marginal_cost', 'marginal_cost_quadratic', 'efficiency', 'stand_by_cost', 'ramp_limit_up', 'ramp_limit_down', 'p', 'q', 'status', 'start_up', 'shut_down', 'mu_upper', 'mu_lower', 'mu_p_set', 'mu_ramp_limit_up', 'mu_ramp_limit_down'])

In [22]:
network.snapshots

DatetimeIndex(['2015-01-01 00:00:00', '2015-01-01 01:00:00',
               '2015-01-01 02:00:00', '2015-01-01 03:00:00',
               '2015-01-01 04:00:00', '2015-01-01 05:00:00',
               '2015-01-01 06:00:00', '2015-01-01 07:00:00',
               '2015-01-01 08:00:00', '2015-01-01 09:00:00'],
              dtype='datetime64[ns]', name='snapshot', freq=None)

In [23]:
network.snapshot_weightings

                     objective  stores  generators
snapshot
2015-01-01 00:00:00        1.0     1.0         1.0
2015-01-01 01:00:00        1.0     1.0         1.0
2015-01-01 02:00:00        1.0     1.0         1.0
2015-01-01 03:00:00        1.0     1.0         1.0
2015-01-01 04:00:00        1.0     1.0         1.0
2015-01-01 05:00:00        1.0     1.0         1.0
2015-01-01 06:00:00        1.0     1.0         1.0
2015-01-01 07:00:00        1.0     1.0         1.0
2015-01-01 08:00:00        1.0     1.0         1.0
2015-01-01 09:00:00        1.0     1.0         1.0